
/* site navigation bar */

.site-nav {
	margin-top: 20px;
	text-align: center;
}

.site-nav ul{
	margin: 0;
	padding: 0;
}

.site-nav li{
    list-style-type: none;
    display: inline-block;
    margin-left: 5px;
}

.site-nav a:not(.active){
	text-decoration: none;
	color: red;
	padding: 10px 20px;
	border: 3px solid  black;
	font-weight: bold;
	background-color: black;
}

.site-nav a:hover{
	background-color: black;
	opacity: 0.5;
}

.site-nav a.active{
	text-decoration: underline;
	color: red;
	padding: 10px 20px;
	border: 3px solid red;
	font-weight: bold;
	background-color: black;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

/* end nav bar */



/* EvoPage */
#evopage{
	background-color: #595959;
	text-align: center;
   font-family: 'Roboto Condensed', sans-serif;
}

#evopage p,ul{
	font-size: 1.4rem;
	color: black;
	list-style-type: none;
}

.evospecs{
	font-size: 1.4rem;
	color: black;

}

.EvoPerformance{
	font-size: 1.4rem;
	color: black;

}


.header-e{
	background: gray;
	height: 130px;
	border: solid 2px #000;
	color: black;
}

@media screen and (min-width: 960px){
	.evovid, .evo9{
		width: 700px;
	}
}

@media screen and (max-width: 960px){
	.evovid, .evo9{
		width: 600px
	}
}


@media screen and (max-width: 500px){
	.evovid, .evo9{
		width: 400px;
	}
}

div .evoV{
	width: 80px;
	height: 500px;
	text-align: center;
	display: inline;
	margin: 0 auto
}

video{
	max-width: 80%;
	
}

/*Raptorpage*/
#Raptorpage{
 background: #595959;
	text-align: center;
	font-family: 'Droid Sans', sans-serif;
}

#Raptorpage p,ul{
	font-size: 1.4rem;
	color: black;
}



/* Resume Page */

#Resumepage {
	font-family: 'Spectral', serif;
	margin: 0px;
}

#container{
	width: 960px;
	margin: 0px auto;
}

.header{
	background: gray;
	height: 130px;
	width: 960px;
	border: solid 2px #000;
	color: black;
	text-align: center;
}

.nav{
	background: gray;
	height: 80px;
	width: 960px;
	border: solid 2px #000;

}

.Main{
	background: gray;
	height: 900px;
	width: 960px;
	border: solid 2px #000;
}


#Resumepage p{
	font-size: 140%;
}

/* end Resume */

li {
	list-style-type: none;
}

#Menu{
	text-align: center;
	margin-bottom: 30px;
}

#belowMenuh2{
	margin-top: 50px;
}

/*GOOGLEMAPSGOOGLEMAPSGOOGLEMAPSGOOGLEMAPSGOOGLEMAPSGOOGLEMAPS*/

.sicily{
	background: red;
}

.navbar-googlemaps {
	background-color: #4d4d4d;
	text-align: center;
}

.navbar-googlemaps ul {
	list-style-type: none;
	display: inline-block;
}

.navbar-googlemaps ul li {
	float: left;
	margin: 0;
}

.navbar-googlemaps a {
	text-decoration: none;
	color: red;
	padding: 10px 20px;
	display: block;
	font-size: 140%;
}

.navbar-googlemaps a:hover {
	background-color: black;
}



.googlemaps-footer {
	background-color: #4d4d4d;
	padding: 30px;
	text-align: center;
	color: red;
}

.map-title {
	text-align: center;
	font-size: 300%;
}

#map {
      height: 100%;
      margin-right: auto;
      margin-left: auto;
    }
   


#wrapper {
	max-width: 960px;
	height: 960px;
	background-color: gray;
	margin: 0 auto;
	overflow: hidden;
}

#canvas {
	width: 700px;
	height: 700px;
	background-color: gray;
	margin: 30px auto;
}


@media screen and (max-width: 650px){


	

	.navbar-googlemaps {
		font-size: .8em;
	}

	.navbar-googlemaps ul li {
		font-size: 70%;
	}

	.navbar-googlemaps a {
		margin-left: 10px;
		margin-right: 10px;
		padding: 0 0;
	}

	

}
